body {
  background-image: url("/images/background.jpg");
  background-size: 100%;
}

.div-head, .div-body {
  width: 1280px;
  margin: 10px auto;
}

.div-head {
  height: 100px;
  border-bottom-style: solid;
  border-bottom-color: #9E9E9E;
  border-radius: 6px;
}

.div-time {
  float: right;
}

.div-navigation {
  width: 1110px;
  margin-left: 100px;
  margin-top: -75px;
}

.div-content {
  text-align: center;
}

.textarea-content {
  width: 270px;
  height: 100px;
  border-radius: 6px;
  border-color: #9E9E9E;
}

.div-link {
  float: right;
  margin-top: -40px;
}

.ul-link {
  list-style: none;
}

.ul-link li {
  margin-bottom: 5px;
}

.div-breadcrumb {
  margin-left: 100px;
}

.breadcrumb {
  background-color: rgba(0, 0, 0, 0);
}

.div-notice {
  width: 1273px;
  height: 30px;
  float: left;
  margin-top: -53px;
  margin-left: 4px;
  text-align: center;
  line-height: 30px;
  font-family: STKaiTi;
  font-weight: bolder;
  font-size: 24px;
  color: #FF0000;
}

.div-body, .div-left, .div-right {
  height: 500px;
}

.div-left {
  width: 245px;
  border-right-style: solid;
  border-right-color: #9E9E9E;
  border-top-style: solid;
  border-top-color: #9E9E9E;
  border-radius: 6px;
}

.div-left li {
  padding-bottom: 5px;
  text-align: center;
}

.div-right {
  width: 1025px;
  float: right;
  margin-top: -500px;
  border-left-style: solid;
  border-left-color: #9E9E9E;
  border-top-style: solid;
  border-top-color: #9E9E9E;
  border-radius: 6px;
}

.div-search {
  float: right;
  margin-top: -8px;
  margin-right: -15px;
}

.div-table {
  margin-top: 42px;
  height: 382px;
}

.div-table th, .div-table td {
  text-align: center;
}

.tr-title {
  border-bottom-style: solid;
  border-bottom-width: medium;
}

.tr-table {
  border-bottom-style: solid;
  border-bottom-width: thin;
} 

.div-checkbox {
  width: 20px;
}

.div-index {
  width: 31px;
}

.div-name {
  width: 231px;
}

.div-date {
  width: 74px;
}

.div-place {
  width: 231px;
}

.div-created-time {
  width: 74px;
}

.div-created-by {
  width: 87px;
}

.div-updated-time {
  width: 74px;
}

.div-updated-by {
  width: 87px;
}

.table-create input, .table-change input {
  width: 190px;
  height: 30px;
  border-radius: 10px;
}

.div-pagination {
  width: 1025px;
  text-align: center;
}

.input-go {
  width: 28px;
  height: 20px;
  text-align: center;
}

.div-button {
  float: right;
  margin-top: -38px;
}
