<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>软件学院学生会内部管理系统</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/activity_overdue.css" />
  </head>
  <body>
    <div class="div-head">
      <div class="div-time">
        <span>${.now?string('yyyy年MM月dd日')}</span>
        <span id="span_time"></span>
      </div>
      <img alt="logo" src="/images/logo.png" width="100px" height="100px" />
      <div class="div-navigation">
        <!-- 导航菜单start -->
        <ul class="nav nav-pills nav-justified">
          <li class="active"><a href="/activity/findActive">活动列表</a></li>
          <li><a href="/plan/findActive">策划列表</a></li>
          <li><a href="/department/findAll">管理列表</a></li>
          <li><a href="/minutes/findByDepartmentName">会议记录</a></li>
          <#if position.permission_id lte 4>
            <li><a href="/recruitment/findApplication">招新申请<span class="badge pull-right">${recruitmentApplicationCount}</span></a></li>
          </#if>
          <#if position.permission_id lte 1>
            <li><a href="#" data-toggle="modal" data-target="#modal_notice">紧急通知</a></li>
          </#if>
        </ul>
        <!-- 导航菜单end -->
        <!-- 模态框start -->
        <div id="modal_notice" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <input type="button" class="close" data-dismiss="modal" aria-hidden="true" value="&times;" />
                <h4 class="modal-title" id="myModalLabel">请输入紧急通知内容</h4>
              </div>
              <div class="modal-body div-content">
                <textarea id="textarea_content" class="textarea-content"></textarea>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="取消" />
                <input type="button" id="input_notice_submit" class="btn btn-primary" value="提交" />
              </div>
            </div>
          </div>
        </div>
        <!-- 模态框end -->
      </div>
      <div class="div-link">
        <ul class="ul-link">
          <li><a href="/information">${user.nickname}</a></li>
          <li><a href="/index/rjxy">返回首页</a></li>
          <li><a href="/logout">退出登录</a></li>
        </ul>
      </div>
      <!-- 面包屑start -->
      <div class="div-breadcrumb"> 
        <ol class="breadcrumb">
          <li><a href="/index/rjxy">首页</a></li>
          <li class="active">过期活动</li>
        </ol>
      </div>
      <!-- 面包屑end -->
      <div class="div-notice">
        <p id="p_notice">${notice.content}</p>
      </div>
    </div>
    <div class="div-body">
      <div class="div-left">
        <!-- 导航菜单start -->
        <ul class="nav nav-pills nav-stacked">
          <li><a href="/activity/findActive">待办活动<span class="badge pull-right">${recordActiveCount}</span></a></li>
          <li><a href="/activity/findCompleted">已办活动<span class="badge pull-right">${recordCompletedCount}</span></a></li>
          <li class="active"><a href="#">过期活动<span class="badge pull-right">${recordOverdueCount}</span></a></li>
        </ul>
        <!-- 导航菜单end -->
      </div>
      <div class="div-right">
        <!-- 搜索框start -->
        <div class="div-search">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" id="input_search" class="form-control" placeholder="Search" value="${search}" />
            </div>
            <input type="button" id="input_search_submit" class="btn btn-default" value="搜索" />
          </form>
        </div>
        <!-- 搜索框end -->
        <#if activityList?size gt 0>
	      <!-- 悬停表格start -->
	      <div class="div-table"> 
	        <table class="table-hover">
	          <tr height="30px" class="tr-title">
	            <th><input type="checkbox" id="input_checkbox_all" /></th>
	            <th><span>序号</span></th>
	            <th><span>名称</span></th>
	            <th><span>时间</span></th>
	            <th><span>地点</span></th>
	            <th><span>申请时间</span></th>
                <th><span>申请人</span></th>
                <th><span>审核时间</span></th>
                <th><span>审核人</span></th>
	            <#if position.permission_id lte 2>
	              <th><span>操作</span></th>
	            </#if>
	          </tr>
	          <#list activityList as activity>
	            <tr height="50px" class="tr-table">
	              <td><div class="div-checkbox"><input type="checkbox" class="input-checkbox" /></div></td>
	              <td><div class="div-index"><span>${activity_index + 1}</span></div></td>
	              <td><div class="div-name"><span>${activity.activity_name}</span></div></td>
	              <td><div class="div-date"><span>${activity.activity_date}</span></div></td>
	              <td><div class="div-place"><span>${activity.activity_place}</span></div></td>
	              <td><div class="div-created-time"><span>${activity.created_time}</span></div></td>
	              <td><div class="div-created-by"><span>${activity.created_by}</span></div></td>
	              <td><div class="div-updated-time"><span>${activity.updated_time}</span></div></td>
	              <td><div class="div-updated-by"><span>${activity.updated_by}</span></div></td>
		          <td>
		            <#if position.permission_id lte 2>
		              <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_create" value="重办" />
		            </#if>
		            <#if position.permission_id lte 1>
		              <input type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_remove" value="删除" />
		            </#if>
		            <input type="hidden" class="activity-id" value="${activity.id}" />
		          </td>
	            </tr>
	          </#list>
	        </table>
	      </div>    
	      <!-- 悬停表格end -->
        <#else>
          <img alt="no_data" src="/images/no_data.jpg" width="1025px" height="382px" />
        </#if>
        <!-- 分页start -->
        <div class="div-pagination">
          <ul class="pagination">
            <li id="li_laquo"><a href="#">&laquo;</a></li>
            <li id="li_lt"><a href="#">&lt;</a></li>
            <li class="active"><a href="#" id="a_current_page">${currentPage}</a></li>
            <li id="li_gt"><a href="#">&gt;</a></li>
            <li id="li_raquo"><a href="#">&raquo;</a></li>
            <li><a href="#" id="a_page_count">共&nbsp;${pageCount}&nbsp;页</a></li>
            <li><a href="#"><input type="number" id="input_go" class="input-go" /></a></li>
            <li id="li_go"><a href="#">Go</a></li>
          </ul>
        </div>
        <!-- 分页end -->
        <div class="div-button">
	      <#if position.permission_id lte 1>
	        <input type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_remove_all" value="批量删除" />
	      </#if>
	        <input type="hidden" id="input_remove_all" />
	    </div>
        <!-- 模态框start -->
        <div id="modal_create" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <input type="button" class="close" data-dismiss="modal" aria-hidden="true" value="&times;" />
                <h4 class="modal-title" id="myModalLabel">完善活动信息</h4>
              </div>
              <div class="modal-body">
                <table class="table-create">
                  <tr height="50px">
                    <td><label for="input_create_name">活动名称：</label></td>
                    <td><input type="text" id="input_create_name" /></td>
                  </tr>
                  <tr height="50px">
                    <td><label for="input_create_date">活动时间：</label></td>
                    <td><input type="datetime-local" id="input_create_date" /></td>
                  </tr>
                  <tr height="50px">
                    <td><label for="input_create_place">活动地点：</label></td>
                    <td><input type="text" id="input_create_place" /></td>
                  </tr>
                </table>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="关闭" />
                <input type="button" id="input_create_submit" class="btn btn-primary" value="提交" />
              </div>
            </div>
          </div>
        </div>
        <!-- 模态框end -->
        <!-- 模态框start -->
        <div id="modal_remove" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <input type="button" class="close" data-dismiss="modal" aria-hidden="true" value="&times;" />
                <h4 class="modal-title" id="myModalLabel">确定删除如下记录吗</h4>
              </div>
              <div class="modal-body">
                <table>
                  <tr height="50px">
                    <td><span>活动名称：</span></td>
                    <td><span id="span_remove_name"></span></td>
                  </tr>
                  <tr height="50px">
                    <td><span>活动时间：</span></td>
                    <td><span id="span_remove_date"></span></td>
                  </tr>
                  <tr height="50px">
                    <td><span>活动地点：</span></td>
                    <td><span id="span_remove_place"></span></td>
                  </tr>
                </table>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="取消" />
                <input type="button" id="input_remove_submit" class="btn btn-danger" value="删除" />
              </div>
            </div>
          </div>
        </div>
        <!-- 模态框end -->
        <!-- 模态框start -->
        <div id="modal_remove_all" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <input type="button" class="close" data-dismiss="modal" aria-hidden="true" value="&times;" />
                <h4 class="modal-title" id="myModalLabel">确定删除所选记录吗</h4>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="取消" />
                <input type="button" id="input_remove_all_submit" class="btn btn-danger" value="删除" />
              </div>
            </div>
          </div>
        </div>
        <!-- 模态框end -->
      </div>
    </div>
  </body>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/activity_overdue.js"></script>
</html>