<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>软件学院学生会内部管理系统</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/plan_create.css" />
  </head>
  <body>
    <div class="div-head">
      <div class="div-time">
        <span>${.now?string('yyyy年MM月dd日')}</span>
        <span id="span_time"></span>
      </div>
      <img alt="logo" src="/images/logo.png" width="100px" height="100px" />
      <div class="div-navigation">
        <!-- 导航菜单start -->
        <ul class="nav nav-pills nav-justified">
          <li><a href="/activity/findActive">活动列表</a></li>
          <li class="active"><a href="/plan/findActive">策划列表</a></li>
          <li><a href="/department/findAll">管理列表</a></li>
          <li><a href="/minutes/findByDepartmentName">会议记录</a></li>
          <#if position.permission_id lte 4>
            <li><a href="/recruitment/findApplication">招新申请<span class="badge pull-right">${recruitmentApplicationCount}</span></a></li>
          </#if>
          <#if position.permission_id lte 1>
            <li><a href="#" data-toggle="modal" data-target="#modal_notice">紧急通知</a></li>
          </#if>
        </ul>
        <!-- 导航菜单end -->
        <!-- 模态框start -->
        <div id="modal_notice" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <input type="button" class="close" data-dismiss="modal" aria-hidden="true" value="&times;" />
                <h4 class="modal-title" id="myModalLabel">请输入紧急通知内容</h4>
              </div>
              <div class="modal-body div-content">
                <textarea id="textarea_content" class="textarea-content"></textarea>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="取消" />
                <input type="button" id="input_notice_submit" class="btn btn-primary" value="提交" />
              </div>
            </div>
          </div>
        </div>
        <!-- 模态框end -->
      </div>
      <div class="div-link">
        <ul class="ul-link">
          <li><a href="/information">${user.nickname}</a></li>
          <li><a href="/index/rjxy">返回首页</a></li>
          <li><a href="/logout">退出登录</a></li>
        </ul>
      </div>
      <!-- 面包屑start -->
      <div class="div-breadcrumb"> 
        <ol class="breadcrumb">
          <li><a href="/index/rjxy">首页</a></li>
          <li><a href="/plan/findActive">策划申请</a></li>
          <li class="active">新增策划</li>
        </ol>
      </div>
      <!-- 面包屑end -->
      <div class="div-notice">
        <p id="p_notice">${notice.content}</p>
      </div>
    </div>
    <div class="div-body">
      <div class="div-create">
        <table class="table-create">
          <tr height="60px">
            <td width="100px"><span>活动名称</span></td>
            <td width="240px"><input type="text" id="input_plan_name" class="input-plan-name" /></td>
            <td width="100px"><span>活动日期</span></td>
            <td width="240px"><input type="datetime-local" id="input_activity_date" class="input-activity-date" /></td>
            <td width="100px"><span>活动地点</span></td>
            <td width="240px"><input type="text" id="input_activity_place" class="input-activity-place" /></td>
          </tr>
          <tr height="260px">
            <td><span>活动背景</span></td>
            <td colspan="2"><textarea id="textarea_activity_background" class="textarea-activity-background"></textarea></td>
            <td><span>活动目的</span></td>
            <td colspan="2"><textarea id="textarea_activity_purpose" class="textarea-activity-purpose"></textarea></td>
          </tr>
          <tr height="60px">
            <td><span>活动主题</span></td>
            <td><input type="text" id="input_activity_theme" class="input-activity-theme" /></td>
            <td><span>活动对象</span></td>
            <td><input type="text" id="input_activity_object" class="input-activity-object" /></td>
            <td><span>活动类型</span></td>
            <td>
              <select id="select_plan_type" class="select-plan-type">
                <option value="学习">学习</option>
                <option value="生活">生活</option>
                <option value="体育">体育</option>
                <option value="宣传">宣传</option>
                <option value="文艺">文艺</option>
                <option value="女生">女生</option>
              </select>
            </td>
          </tr>
          <tr height="60px">
            <td><span>附&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;件</span></td>
            <td>
              <form id="form_create" action="/plan/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="attachment" class="input-attachment"/>
              </form>
            </td>
          </tr>
        </table>
      </div>
      <div id="div_diagram" class="div-diagram"></div>
      <div class="div-button">
        <input type="button" id="input_create" class="btn btn-primary" value="申请" />
      </div>
    </div>
  </body>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/plan_create.js"></script>
  <script src="/js/diagram/amcharts.js"></script>
  <script src="/js/diagram/serial.js"></script>
</html>